[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
urllib3 = "*"
python-dotenv = "*"
gunicorn = "*"
importlib-metadata = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
