<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <title>Reports Table</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row["sim_number"] }}</td>
                <td>
                    <img src="CARDS/{{ row['user_cards'][0] }}.png" width="48" height="68">
                    <img src="CARDS/{{ row['user_cards'][1] }}.png" width="48" height="68">
                </td>
                <td>
                    {% for value in row["opponent_cards"] %}
                        <img src="CARDS/{{ value[0] }}.png" width="48" height="68">
                        <img src="CARDS/{{ value[1] }}.png" width="48" height="68">
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for value in row["community_cards"] %}
                        <img src="CARDS/{{ value }}.png" width="48" height="68">
                    {% endfor %}
                </td>
                <td>{{ row["num_trials"] }}</td>
                <td>{{ row["win_pct"] }}</td>
                <td>{{ row["loss_pct"] }}</td>
                <td>{{ row["tie_pct"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>